*{
	font-family: Open Sans,MundoSans,"Helvetica Neue",Arial,Helvetica,sans-serif;
}
header{

	height: 10%;
	padding: .5%;
	overflow: hidden;
	position: fixed;
}
header h1{

	margin-top: 10%;
}
.circle{
	width: 10%;
	border-radius: 50%;
	border: 3px solid white;	
	margin-top: 5%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.headimg{
	border: 6px solid black;	
	width: 5%;

}
.info p{
	color: #999;
}
.info h1{
	font-weight: 900;
	margin-top: 2%;
}
.content{
	margin-top: 5%;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.19);
	height: 100%;
	width: 65%;
	padding: 2%;

}
.content h2{
	text-align: left;
}
.content a{
	color: black;
	font-weight: bold;
	text-decoration: underline;
	font-size: 22px;
	color: #566573;
}
.content a:hover{
	color: black;
	
}
.content p{
	color: #566573;
	text-align: left;
	font-weight: 400;
	font-style: normal;
	font-size:22px;
	hyphens: auto;
	font-family: Linux Libertine;

}
.line{
	border: .5px solid #EAECEE;
	margin-right: 17.5%;
	margin-left: 17.5%;	
}

.fa {
  padding-right: 1%;
    padding-left: 1%;
      padding-bottom: 1%;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}
.fa-facebook,.fa-github,.fa-twitter,.fa-youtube,.fa-instagram,.fa-linkedin {
  color: black;
}
.fa-facebook:hover{
	color: #3B5998;
	text-decoration: none;
}
.fa-twitter:hover{
	color: #55ACEE;
	text-decoration: none;
}
.fa-youtube:hover{
	color: #bb0000;
	text-decoration: none;
}
.fa-linkedin:hover{
	color: #007bb5;
	text-decoration: none;
}
.fa-instagram:hover{
	color: #125688;
	text-decoration: none;
}
.fa-github:hover{
	color: grey;
	text-decoration: none;
}